[project]
	description = A CMIS server stub for PHP
[access "refs/*"]
	owner = group user/maddingo (maddingo)
[access "refs/for/refs/*"]
	read = group user/maddingo (maddingo)
	push = group user/maddingo (maddingo)
	label-Code-Review = -2..+2 group user/maddingo (maddingo)
	label-Verified = -1..+1 group user/maddingo (maddingo)
	rebase = group user/maddingo (maddingo)
	removeReviewer = group user/maddingo (maddingo)
	submit = group user/maddingo (maddingo)
[access "refs/heads/*"]
	read = group user/maddingo (maddingo)
	create = group user/maddingo (maddingo)
	push = +force group user/maddingo (maddingo)
	pushMerge = group user/maddingo (maddingo)
[access "refs/tags/*"]
	push = +force group user/maddingo (maddingo)
	pushTag = group user/maddingo (maddingo)
	pushSignedTag = group user/maddingo (maddingo)
